header{
    background-color: #DCDCDC;
}
body{
    font-family: 'Montserrat';
}
.logoynov{
    width: 105px;
    position: absolute;
    margin : 20px 0px  21px 90px;
}
.separationverti1{
	position: absolute;
    margin-top: 0px;
	margin-left: 240px;
	height: 160px;
}
.headertext{
    padding-top: 20px;
    margin : 0px 0px -3px 260px;
}
h2{
    font-weight: 100;
    font-size:medium;
    color: rgb(44, 42, 42,0.9);
}
nav{
    
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 850px;
}

a{
    text-decoration:none;
    color: black;
}
a:hover{
    color: white;
}

a[href="Accueil.html"]{
    color: white;
}

.me{
    width: 461px;
    margin: 50px 10px 100px 260px;
    position: absolute;
}

.separationverti2{
	position: absolute;
    margin-top: 200px;
	margin-left: 740px;
	height: 160px;
}

section{
    position: absolute;
    margin-top: 100px;
    margin-left: 810px;
    line-height:30px;
}

h3{
    color: #E33F0E;
    margin-bottom: 0px;
    font-size: larger;
}

.separationhor{
    margin-left: 0px;
    width: 30px;
    color: #E33F0E;
}

.text{
    font-weight: 500;
    font-size:small;
    color: rgb(44, 42, 42,0.9);
    padding-right: 410px;
}

.boutondip{
    position: absolute;
    margin :650px 0px 0px 1100px; 
    color: #E33F0E;
    border: 3px solid #E33F0E;
    padding: 0px 20px 0px 20px;

}

.boutondip:hover{
    background-color: #E33F0E;
}

footer{
    background-color: #DCDCDC;
    margin-top: 800px;
    padding: 0px 0px 0px 260px;
    display: flex;
}

.txtFooter{
    flex: 33.33%;
    padding: 5px;
}


.logofooter{
    margin-top: 20px;
    width: 20px;
    height: 20px;
    padding: 5px;
}

address{
    margin-top: 20px;
    flex: 33.33%;
    padding: 5px;
}

span {
    flex: 3%;
    padding: 5px;
}

.separationverti3{
    position: absolute;
    margin-top: 23px;
	margin-left: 0px;
	height: 20px;
    order: 1;
}