.contact {
    padding: 40px;
    background-color: #241e20;
    width: 70vw;
    border-radius: 13px;
    min-width: 500px;
    box-shadow: -10px 10px 30px 5px #fff;
    margin-bottom: 70px;
}

.contact h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea{
    height: 130px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#formMessage {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}