.content_home {
    width: 100%;
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first_text_home {
    width: 70%;
    font-size: 30px;
    display: block;
    text-align: center;
    text-shadow: 2px  2px  2px black;
    opacity: 0;
    transform: translate(-100px, -100px);
    animation: slideIn 1s forwards;
}

.link_about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
}

.smooth-scroll{
    color: #fff;
    animation: fadeInOut 3.5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #2b2d30;
    text-decoration: none;
    transition: background-color 0.3s;
    position: relative;
    padding-top: 1px;
    line-height: 50px;
    transform: translateY(-150px);
}

.smooth-scroll i {
    font-size: 24px;
}

.smooth-scroll:hover {
    background-color: #1e262d;
}


#about{
    height: 165vh;
}

#project{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7rem;
    gap: 60px;
}

#contact{
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translate(-100px, -100px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
