.container_projects {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0 4rem;
    margin: -0.75rem;
}

.container_project {
    position: relative;
    flex: none;
    width: 33.3333%;
    padding: 0.75rem;
}

.container_project figure{
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.card {
    transform: scale(1);
    transition: .25s ease-in-out;
    height: 100%;
    width: 100%;
}

.overlay {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .45s ease-in-out;
}

.container_project:hover .overlay {
    background-color: #273566;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transition: .55s ease-in-out;
}

.overlay p {
    color: #fff;
    margin-bottom: 0.8rem;
    font-weight: 500;
    line-height: 1.125;
}

.overlay a{
    margin: 0 auto;
    font-size: 18px;
    padding-left: 1.2rem;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    border-radius: 9999px;
    font-family: "europa", sans-serif;
    -webkit-transition: all .2s ease-in-out;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    border: 2px solid #6E07F3;
    padding-right: 1.2rem;
}

.overlay a:hover{
    background-color: white;
    opacity: 1;
    color: black;
}

span{
    font-style: inherit;
    font-weight: inherit;
}

.icon{
    margin-top: 4px;
    margin-left: 0;
    margin-right: calc(-0.5em - 1px);
    height: 1.5em;
    width: 1.5em;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.icon svg{
    width: 58px;
    overflow: visible;
    box-sizing: content-box;
    display: inline-block;
    height: 1em;
}