header{
    background-color: #DCDCDC;
}
body{
    font-family: 'Montserrat';
}
.logoynov{
    width: 105px;
    position: absolute;
    margin : 20px 0px  21px 90px;
}
.separationverti1{
	position: absolute;
    margin-top: 0px;
	margin-left: 240px;
	height: 160px;
}
.headertext{
    padding-top: 20px;
    margin : 0px 0px -3px 260px;
}
h2{
    font-weight: 100;
    font-size:medium;
    color: rgb(44, 42, 42,0.9);
}
nav{
    
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 850px;
}

a{
    text-decoration:none;
    color: black;
}
a:hover{
    color: white;
}

a[href="Projet.html"]{
    color: white;
}

h3{
    color: #E33F0E;
    margin: 100px 0px -100px 650px;
}

.separationhor{
    margin-left: 0px;
    width: 30px;
    color: #E33F0E;
    margin: 110px 0px -100px 650px;
}

video{
    margin-left: 300px;
    margin-top: 200px;
    width: 1000px;
}


footer{
    background-color: #DCDCDC;
    margin-top: 300px;
    padding: 0px 0px 0px 260px;
    display: flex;
}

.txtFooter{
    flex: 33.33%;
    padding: 5px;
}

.logofooter{
    margin-top: 20px;
    width: 20px;
    height: 20px;
    padding: 5px;
}

address{
    margin-top: 20px;
    flex: 33.33%;
    padding: 5px;
}

span {
    flex: 3%;
    padding: 5px;
}

.separationverti3{
    position: absolute;
    margin-top: 23px;
	margin-left: 0px;
	height: 20px;
    order: 1;
}