#skill{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10rem;
    padding-top: 7rem;
    gap: 60px;
}

#skill h2{
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: .75rem;
}

.skills{
    gap: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill{
    background-color: rgb(36, 30, 32);
    color: rgb(228, 241, 255);
    padding: 1.25rem;
    border-radius: 1.5rem;
    gap: .75rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.name_skill {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
}

.container_skill{
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 16rem;
    height: 100%;
    display: flex;
}

.container_img{
    padding: .75rem;
    background-color: rgb(228, 241, 255);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_img img,
.container_img svg{
    color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    max-width: 100%;
}